:root {
    --portal-main-color: #E80000;
    --portal-main-contrast: white;
    --portal-dark-color: #ad0000;
    --openaire-main-color: #313179;
}

.graph-background {
    background-size: cover !important;
    padding-bottom: 100px;
    background: #FAFAFA url('/assets/canada-background.svg') no-repeat bottom;
}
.mainPageSearchForm{
    background-color: white !important;
    background-image: none !important;
    margin-bottom: 100px;
}

.searchForm, .generalSearchForm,
.publicationsSearchForm,
.projectsSearchForm, .projectsTableSearchForm,
.organizationsSearchForm,
.datasetsSearchForm,
.softwareSearchForm,
.orpsSearchForm,
.datasourcesSearchForm,  .compatibleDatasourcesSearchForm, .compatibleDatasourcesTableSearchForm, .datasourcesTableSearchForm,
 .journalsSearchForm, .journalsTableSearchForm,
.entityRegistriesSearchForm, .entityRegistriesTableSearchForm {

    background-color: white !important;
    background-image: none !important;
}

.explorePanelBackground {
    background: transparent linear-gradient(133deg, #F5F5F5 0%, #D8D8D8 100%) 0% 0% no-repeat padding-box;
}

.explorePanelBackground .uk-grid-divider > :not(.uk-first-column)::before {
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.explorePanelBackground .uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
    color: #bfbfbf;
}
